
.footer {

    padding-top: 20px;
    padding: 20px 30px 20px 30px;
    padding: 20px 30px;
    padding: 1.25rem 30%;
    padding: 1.25rem 0;
    text-align: center;
    font-size: 1rem;
    background-color: var(--main-brand-color);
  }
  .fa-brands {
        color: #fff;
        font-size: 2rem;
        margin-left:1rem;
  }

  @media (hover: hover) {
        .fa-brands:hover {
                color: #000;
        }
  }

  @media (width > 768px) {
        .fa-brands {
                margin-left: 2rem;
        }
  }