.header {
    background-color: var(--main-brand-color);
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    padding: 0.8rem 2rem;
    justify-content:space-between;
    align-items: center;
}
  
.header .header__image {
  width: 150px;
  max-width: 150px;
}

.header .header__image img {
  width: 60%;
}

.header .header__nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;

}

.header .header__nav .header__nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0px;
}
#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
}

@media (width < 768px) {
  .header .header__image img {
    width: 30%;
  }
  #menu-toggle {
    display: none;
  }
  .menu-icon {
    display: block;
    padding: 0.3em;
    background: var(--bg-color);
    color: --bg-color;
    font-size: 20px;
    cursor: pointer;
  }
  .header__nav__list {
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    background-color: var(--bg-color); 
    display: none; 
    z-index: 15; 
  }
  .header .header__nav .header__nav__list {
    display: none;
  }
  #menu-toggle:checked + .menu-icon + .header__nav__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap:10px;
  }
.header__nav__list a {
  color: white; /* o cualquier otro color que prefieras */
  padding: 0.5em 1em; /* Ajusta el espaciado */
  }
}
  
@media (width > 768px) { 
  .header {
    padding: 0.1rem 0.8rem;
  }
  .menu-icon {
    display: none;
  }
}


