.about h1 {
    text-align: center;
}
.about {
    display: inline-flex;
    flex-direction: column;
}
.about__column__1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__column__2 {
    padding: 0 4rem;
}
.picture__character {
    width: 200px;
    height: 200px;
    justify-content: center;
}
.about p {
    text-align: justify;
}
@media (width > 768px) {
    .about {
        display: flex;
        flex-direction: row;
        padding: 0 2rem;
        align-items: center;
    }
    .about__column__1, .about__column__2 {
        width: 50%;
        align-items: center;
    }
    .about__column__2 {
        display: flex;
        flex-direction: column;
    }
    .picture__character {
        width: 80%;
        height: auto;
    }
    
    

}